<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h4><%= @post.title %> by <%= @user.name %></h4>
        <div class="text-end mb-3">
          <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
        </div>
        <p><%= @post.text %></p>
      </div>
      <div class="comments">
        <% @post.comments.each do |comment| %>
          <div class="card mb-3">
            <div class="card-body">
             <p><strong><%= comment.author.name %> :</strong> <%= comment.text %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center mb-3">
          <%= form_with model: Like.new, url: user_post_likes_path(@user, @post), class: "me-2" do |form| %>
            <div class="d-grid">
              <%= form.submit "Like", class: "btn btn-primary" %>
            </div>
          <% end %>
        <%= link_to('Add New Comment', new_user_post_comment_path(@user, @post), class: 'btn btn-primary btn-custom') %>
      </div>
    </div>
  </div>
</div>

